* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Microsoft Yahei", "PingFang SC", sans-serif;
}

body {
    font: 14px/1.5 "Microsoft Yahei", sans-serif;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}