/* 首页样式 */
/* 版心 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
}

/* 头部 */
.header {
    height: 100px;
    background-color: #ffffff;
}

.header .wrapper{
    padding-top: 29px;
    display: flex;
}

/* logo */
.header .logo h1 a{
    display: block;
    width: 165px;
    height: 41px;
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: aqua;
}

/* 导航 */
.nav {
    margin-left: 102px;
}

.nav ul {
    display: flex;
}

.nav li {
    margin-right: 24px;
}

.nav li a {
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}

/* 导航链接悬停和激活状态 */
.nav li a:hover,
.nav li a.active {
    border-bottom: 2px solid #00a4ff;
}

/* 搜索框 */
.search {
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
    text-align: left; 
}

.search input {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    line-height: 40px; 
}

.search input::placeholder {
    color: #999999;
    font-size: 14px;
}

.search a {
    width: 32px;
    height: 16px;
    background-image: url("../images/search-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center; 
    line-height: 16px; 
}

/* 用户 */
.user {
    margin-left: 64px;
    margin-top: 4px;
}

.user a {
    display: flex;
    align-items: center;
}

.user img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.user span {
    margin-left: 7px;
    font-size: 16px;
    color:#666
}

/* banner区域 */
.banner {
    margin: 0 auto; 
    
    /* margin-top: 20px; */
    /* width: 1200px; */
    height: 420px;
    background-image: url("../images/banner.jpg");
    background-color: rgb(89, 183, 214);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.banner .wrapper {
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url("../images/banner-mask.png");
}

.banner .left {
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.42);
}

.banner .left a {
    display: block;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    height: 46px;
    width: 100%;
    line-height: 46px;
    color: #ffffff;
    font-size: 16px;
}

.banner .left a::after {
    content: ">";
    position: absolute;
    right: 10px;
    top: 0;    
    font-size: 16px;
}

.banner .left a:hover {
    color: #00a4ff;
}

.banner .left a:hover::after {
    color: #00a4ff;
}